---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* Make navigation items smaller to fit more */
.masthead__menu-item {
  padding: 0.3rem 0.3rem !important;
  font-size: 0.75rem !important;
}

.greedy-nav a {
  padding: 0.3rem 0.3rem !important;
  font-size: 0.75rem !important;
}

.visible-links a {
  padding: 0.3rem 0.3rem !important;
  font-size: 0.75rem !important;
}
